:root {
  --main-bg: #1f2937;
  --secondary-bg: #374151;
}
body {
  font-family: "Roboto", sans-serif;
  background: rgb(191, 191, 191);
}
main {
  display: flex;
  justify-content: center;
}
#screen {
  width: 400px;
  height: 800px;
  background: var(--main-bg);
  border-radius: 15px;
}

#nav {
  background: var(--secondary-bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 160px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}
.menu-btn {
  border: 3px solid var(--secondary-bg);
}
#notifications-zone {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

#front-cam {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 20px;
}

#title {
  font-size: 32px;
}
#title-zone {
  display: flex;
  justify-content: space-between;
  margin-right: 7px;
  margin-left: 14px;
}
#menu-zone {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

